<!-- MAIN -->
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="page-title">Medicine Rack</h3>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-primary right-side" (click)="addNewMedicine()"><i class="fa fa-plus"></i> Add</button></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- BASIC TABLE -->
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-9"><h3 class="panel-title">Medicine Details</h3> </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" [(ngModel)]="search" placeholder="Search Medicine.." (keyup)="searchFilter(search)">  
                                </div>
                            </div>
                            
                                                    
                        </div>
                        <div class="panel-body">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Rack No.</th>
                                        <th>Medicine Name</th>
                                        <th>Brand/Power</th>
                                        <th>Price</th>                                        
                                        <th>Available Quantity</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="filterMedicineList.length > 0">
                                    <tr class="hand-cursor" *ngFor="let item of filterMedicineList" (click)="updateMedicine(item)">
                                        <td>{{ item.rack_no }}</td>
                                        <td>{{ item.medicine_name }}</td>
                                        <td>{{ item.brand }}/{{ item.power}}</td>
                                        <td>{{ item.price| number : '1.2-2' }}</td>
                                        <td>
                                            <div class="progress">
                                                 <div *ngIf="item.available_percentage >= 80"class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{item.available_percentage}}" aria-valuemin="0" aria-valuemax="100" [style.width.%]="item.available_percentage"> {{item.available_percentage}}%</div>
                                                 <div *ngIf="item.available_percentage <= 79 && item.available_percentage >= 50" class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{item.available_percentage}}" aria-valuemin="0" aria-valuemax="100" [style.width.%]="item.available_percentage"> {{item.available_percentage}}%</div>
                                                 <div *ngIf="item.available_percentage <= 49" class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{item.available_percentage}}" aria-valuemin="0" aria-valuemax="100" [style.width.%]="item.available_percentage"> {{item.available_percentage}}%</div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                            <div class="no-data-found" *ngIf="filterMedicineList.length == 0">
                                <span>No data Found</span>
                            <div>
                        </div>
                    </div>
                    <!-- END BASIC TABLE -->
                </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>
<!-- END MAIN -->