
<!-- MAIN -->
<div class="main bill-form">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <h3 class="page-title">Bill</h3>
            <div class="row form-block">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Bill Recepit</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row ">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Mobile No." [(ngModel)]="mobileNo" (keypress)="commonService.numberOnly($event);" (keyup)="checkCustomer()" maxlength="10">
                                    <p class="error-warning-message" *ngIf="submitted && !mobileNo"> Please enter mobile no.</p>
                                    <p *ngIf="mobileNo && checkValidMobileNo()!= 10" class="error-warning-message">  Please enter valid mobile no.</p>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Name" [(ngModel)]="customerName">
                                    <p class="error-warning-message" *ngIf="submitted && !customerName"> Please enter customer name.</p>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-4">
                                    <input type="text" list="brow" class="form-control" [(ngModel)]="medicineName" placeholder="Medicine Name" (focusout)="checkValidMedicine(medicineName)" [disabled]="medicineNameList.length == 0">
                                    <p class="error-warning-message" *ngIf="submitted && !medicineName">  Please enter valid medicine </p>
                                    <datalist id="brow" class="brow">
                                        <option *ngFor="let name of medicineNameList" [value]="name">
                                    </datalist>  
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="Quantity" [(ngModel)]="quantity" (keypress)="commonService.numberOnly($event);" [disabled]="medicineNameList.length == 0">
                                    <p class="error-warning-message" *ngIf="submitted && !quantity"> Please enter quantity.</p>
                                    <p class="error-warning-message" *ngIf="availableQtyAlert"> {{availableQtyAlert}}</p>
                                </div>
                                <div class="col-md-2">
                                    <!-- <button type="button" class="btn btn-success" (click)="checkQuantity()" [disabled]="(mobileNo == '' || customerName == '' ||  medicineName == '' || quantity == '')"><i class="fa fa-plus"></i> Add</button> -->
                                    <button type="button" class="btn btn-success" (click)="submit()"><i class="fa fa-plus"></i> Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-body">
                            <div class="panel">
								<div class="panel-body">
									<table class="table table-hover">
										<thead>
											<tr>
												<th>#</th>
												<th>Medicine Name</th>
												<th>Quantity</th>
												<th>Price</th>
                                                <th>Action</th>
											</tr>
										</thead>
										<tbody *ngIf="billService.billMedicineList.length > 0">
											<tr *ngFor="let item of billService.billMedicineList; let i = index">
                                                <td>{{ i+1 }}</td>
												<td>{{ item.medicine_name}}</td>
												<td>{{ item.purchased_qty }}</td>
												<td>{{ item.total |currency:"INR":"symbol" }}</td>
                                                <td><button type="button" class="btn btn-danger remove-list" (click)="removeMedicineInBill(item)"><i class="fa fa-close"></i></button></td>
											</tr>
										</tbody>
									</table>
                                    <div class="row no-data-found" *ngIf="billService.billMedicineList.length == 0">
                                        <div class="col-md-12">
                                           <span> + Add Medicine</span>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-primary btn-lg" [disabled]="billService.billMedicineList.length == 0" data-toggle="modal" data-target="#myModal"><i class="fa fa-print"></i> Bill</button>
                                        </div>
                                        <div class="col-md-6 total">
                                            <h3 class="right-side"> Total : <span>{{billService.totalAmount |currency:"INR":"symbol" }}</span></h3>
                                        </div>
                                    </div>
								</div>
							</div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

    
        <!-- The Modal -->
        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Bill Recepit</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Model body -->
               <app-generate-bill [customerMobileNo]="mobileNo" [customerName]="customerName"></app-generate-bill>

               <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="submitBill()"><i class="fa fa-print"></i> Print</button>
                    <button #closeModal type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                </div>
        
            </div>
            </div>
        </div>
    
    </div>

    
</div>
<!-- END MAIN CONTENT -->