.total
{
    span{
        color: #0af;
    }

    h3{
        margin: 7px;
    }
}

.bill-form{
    .form-block
    {

        .row{
            margin-bottom: 30px;
        }
    }
}

datalist
{
    option{
        font-size: 12px;
        color: red;
    }

}

.remove-list
{
    padding: 5px 15px;
}