.right
{
    background-image: url(../../../assets/img/Medical-Store.jpg) !important;
    .overlay
    {
        background: rgb(0 0 0 / 75%) !important;
    }
}

.align-left
{
    float: left;
    margin: 9px;
}