.right
{
    background-image: url(../../../assets/img/Medical-Store.jpg) !important;
    .overlay
    {
        background: rgb(0 0 0 / 75%) !important;
    }
}

.align-left
{
    float: left;
    margin: 9px;
}

.title
{
    margin: 0;
    font-weight: 600;
    color: #0174cf;
    text-align: left;
}