/* You can add global styles to this file, and also import other style files */
// @import url("./assets/css/bootstrap.min.css");
// @import url("./assets/css/demo.css");
// @import url("./assets/css/main.css");
@import '~ngx-toastr/toastr';


.right-side
{
    float: right;
}

.bottom-space
{
    margin-bottom: 10px;
}

.cancel-btn
{
    margin-right: 10px;
}

.error-warning-message
{
    color: red;
    margin: 4px 10px;
    font-size: 13px;
}